* {
    margin: 0;
    padding: 0;
}
#main_index {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    overflow-y: hidden;
}
#bloc_img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
#titre {
    position: relative;
    color: aliceblue;

}
#nav_box{
    height: 300px;
    width: 300px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
}   
#rotate {
    height: 100px;
    width: 100px;
    background-color: blue;
    z-index: 10000;
}
/*nav1*/
#bouton_nav1, #bouton_nav2, #bouton_nav3, #bouton_nav4, #bouton_nav5 {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color:rgb(0, 0, 0);
    transition: 1s;
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#bouton_nav5 {
    background-color: #141414;
    height: 28px;
    width: 28px;
    border: 10px solid rgb(255, 255, 255);
}
.icone {
    transform: rotate(-90deg);
    font-size: 35px;
    color: #afb4c2 ;
    pointer-events: none;
}

/*bouton*/
#bouton {
    position: absolute;
    opacity: calc(0);
}
label {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icone_label {
    font-size: 100px; 
    color:grey;
}

/*checkbox checked*/
/* Checkbox checked : ajoute une classe à main */
#nav_box:has(#bouton:checked) #bouton_nav1 {
    transform: translate(70px, 70px);
}
#nav_box:has(#bouton:checked) #bouton_nav2 {
    transform: translate(-70px, 70px);
}
#nav_box:has(#bouton:checked) #bouton_nav3 {
    transform: translate(70px, -70px);
}
#nav_box:has(#bouton:checked) #bouton_nav4 {
    transform: translate(-70px, -70px);
}
#nav_box:has(#bouton:checked) {
    transform: rotate(90deg);
    transition: transform 1s;
}
#nav_box:not(:has(#bouton:checked)) {
    transform: rotate(-90deg);
    transition: transform 1s;
}


/*Zone CV main*/
#body_cv header {
    height: 200px;
    width: 100%;
    background: url(../image/Pixel_bureau.jpeg) fixed 100px ;
    display: flex;
    align-items: flex-end;
    color: white;
}
#body_cv header p {
    font-size: 50px;
}
#body_cv main {
    height: 100%;
    width: 100%;
    color: black;
}
.title_profil {
    color: rgb(16, 74, 74);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.liste-type {
    list-style-type: square;
    margin-left: 25px;
}
.title_theme {
    
}

/*FIN zone CV main*/